.settings{
  background-color: #343744;
  width: 100%;
  min-height: 80vh;
  border-radius: 5px;
  box-shadow: 0 0 10px #313157;
  box-shadow: 0 0 10px #313157;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  color: #c2c5dc;
  &_cont{

  }
  &_close{
    width: 40px;
    height: 40px;
    background-color: #1d2d49;
    border-radius: 50%;
    padding: 5px;
  }
}